/* Контейнер для галереи */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

/* Стили для каждого элемента галереи */
.gallery-item {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Изображения внутри блока */
.gallery-item img {
    width: 100%;
    height: 100%;
    transition: clip-path 0.3s ease, transform 0.3s ease;

}

/* Стили для всплывающего окна */
.popup-image {
    display: none;
    position: absolute;
    z-index: 20;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: white;
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	

}

/* Показываем всплывающее окно при наведении */
.gallery-item:hover .popup-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
}

.galer-navigation {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.galer-back-link {
    padding: 10px 20px;
    background: linear-gradient(to right, #8B0000, #A52A2A);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}





@media (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr 1fr; /* Для экранов с шириной до 768px делаем 2 колонки */
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr; /* Для мобильных устройств 1 колонка */
    }
}

